body {
  font-family: Arial;
  background: #e0f2fe;
}

input {
  padding: 10px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  background: blue;
  color: white;
  border: none;
}

div {
  margin-top: 20px;
}